body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fira Sans", sans-serif;
    color: white;
}

header {
    width: 100%;
    height: 200px;
    background-color: rgb(195, 197, 197);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.header-cont {
    width: 135px;
    height: 100px;
    background-color: aliceblue;
    box-sizing: border-box;
}

.bordered{border-right: 1px solid black;}

main {
    width: 100%;
    position: relative;
}


.article-div{
    box-sizing: border-box;
    height: 800px;
    width: 33.33%;
    float: left;
    background-color: rgb(107, 107, 107);
    border: 1px solid black;
}

@media (max-width: 1024px) {
    .article-div{
        width: 50%;
    }
}

.title-div {
    display: flex;
    position: absolute;
    width: 100%;
    justify-content: center;
    text-align: center;
    
}

h2 {
    background-color: rgb(49, 49, 49);
    font-size: 30px;
    line-height: 45px;
    padding: 0 10px;
    display: inline;
}

h1{
	font-size: 40px;
}

i {font-weight: 200;}

.text-div{
	margin: 200px auto;
	width: 80%;
}

.membership-cont {
    width: 100%;
}