body {
	box-sizing:border-box;
	color:#FFF;
	font-family:"Fira Sans", sans-serif;
	margin:0;
	padding:0;
}

header {
	align-items:center;
	background-color:#c3c5c5;
	display:flex;
	flex-direction:row;
	height:200px;
	justify-content:center;
	width:100%;
}

.header-cont {
	background-color:#F0F8FF;
	box-sizing:border-box;
	height:100px;
	width:135px;
}

.bordered {
	border-right:1px solid #000;
}

main {
	position:relative;
	width:100%;
}

.article-div {
	background-color:#6b6b6b;
	border:1px solid #000;
	box-sizing:border-box;
	float:left;
	height:800px;
	width:33.33%;
}

.title-div {
	display:flex;
	justify-content:center;
	position:absolute;
	text-align:center;
	width:100%;
}

h2 {
	background-color:#313131;
	display:inline;
	font-size:30px;
	line-height:45px;
	padding:0 10px;
}

h1 {
	font-size:40px;
}

i {
	font-weight:200;
}

.text-div {
	margin:200px auto;
	width:80%;
}

.membership-cont {
	background-color:#686666;
	clear:left;
	color:#000;
	font-family:'Playfair Display', serif;
	line-height:1.5em;
	overflow:auto;
	padding:50px 0;
	width:100%;
}

.membership-ad {
	background-color:gray;
	float:left;
	margin-left:15%;
	width:40%;
}

.membership-img {
	background-color:#292929;
	float:right;
	height:300px;
	margin-right:25%;
	width:20%;
}

.membership-cont:after {
	clear:both;
}

.article-wrap {
	width:80%;
}

.article-wrap .article-div {
	background-color:lightgray;
	height:500px;
}

.article-wrap .text-div {
	color:#000;
	margin-top:0;
}

.article-wrap .text-div p {
	font-family:'Playfair Display', serif;
}

footer {
	background-color:#b8b7b7;
	clear:both;
	height:700px;
	width:100%;
}

@media max-width 1024px{
	.article-div {
		width:50%;
	}
}